.inline-block {
  display: inline-block;
  zoom: 1;
  *display: inline;
}
html {
  overflow-y: scroll;
}
label {
  display: block;
  cursor: pointer;
}
label > * {
  vertical-align: middle;
}
table,
tr,
td {
  vertical-align: top;
}
.table>.body>.row>.column {
  vertical-align: top;
}
.table>.header>.row>.column {
  vertical-align: middle;
}
.table>.body,
.table>.header {
  font-size: 0;
}
.table>.body .row + .row,
.table>.header .row + .row {
  border-top: 1px solid #DAE1E8;
}
.table>.body>.row>.column12,
.table>.header>.row>.column12 {
  width: 100%;
}
.table>.body>.row>.column11,
.table>.header>.row>.column11 {
  width: 91.6%;
}
.table>.body>.row>.column10,
.table>.header>.row>.column10 {
  width: 83.3%;
}
.table>.body>.row>.column9,
.table>.header>.row>.column9 {
  width: 75%;
}
.table>.body>.row>.column8,
.table>.header>.row>.column8 {
  width: 66.6%;
}
.table>.body>.row>.column7,
.table>.header>.row>.column7 {
  width: 58.3%;
}
.table>.body>.row>.column6,
.table>.header>.row>.column6 {
  width: 50%;
}
.table>.body>.row>.column5,
.table>.header>.row>.column5 {
  width: 41.6%;
}
.table>.body>.row>.column4-5,
.table>.header>.row>.column4-5 {
  width: 37.5%;
}
.table>.body>.row>.column4,
.table>.header>.row>.column4 {
  width: 33.3%;
}
.table>.body>.row>.column3-5,
.table>.header>.row>.column3-5 {
  width: 29.1%;
}
.table>.body>.row>.column3,
.table>.header>.row>.column3 {
  width: 25%;
}
.table>.body>.row>.column2,
.table>.header>.row>.column2 {
  width: 16.6%;
}
.table>.body>.row>.column1-5,
.table>.header>.row>.column1-5 {
  width: 12.5%;
}
.table>.body>.row>.column1,
.table>.header>.row>.column1 {
  width: 8.3%;
}
.table>.body>.row>.column,
.table>.header>.row>.column {
  font-size: 12px;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.table>.body>.row>.column>.cell,
.table>.header>.row>.column>.cell {
  padding: 10px;
}
.table>.body>.row>.column.left,
.table>.header>.row>.column.left {
  text-align: left;
}
.table>.body>.row>.column.center,
.table>.header>.row>.column.center {
  text-align: center;
}
.table>.body>.row>.column.right,
.table>.header>.row>.column.right {
  text-align: right;
}
.table>.body>.row>.column.top,
.table>.header>.row>.column.top {
  vertical-align: top;
}
.table>.body>.row>.column.middle,
.table>.header>.row>.column.middle {
  vertical-align: middle;
}
.table>.body>.row>.column.bottom,
.table>.header>.row>.column.bottom {
  vertical-align: bottom;
}
.table>.body>.empty,
.table>.header>.empty {
  padding: 100px 0;
  text-align: center;
  color: #777;
  font-size: 14px;
}
.table>.header {
  color: #2B587A;
  background-color: #DEE5EB;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.table>.header>.row>.column {
  font-weight: bold;
}
#main {
  width: 1070px;
  margin: 10px auto;
  border: 1px solid #C4CDE0;
  border-radius: 3px;
  background-color: white;
  position: relative;
  z-index: 1;
}
#main>.header {
  background: #f1f1f1;
  border: 1px solid #fff;
  border-radius: 2px;
  border-bottom: 1px solid #D8DFEA;
}
#main .right-column {
  background-color: #f7f7f7;
  border-left: 1px solid #D8DFEA;
}
#main .right-column > div {
  width: 169px;
  padding-bottom: 10px;
}
#main .right-column > div>.interval-wrapper {
  display: none;
}
#main .right-column > div>div > .interval,
#main .right-column > div>.interval {
  padding: 10px 10px 0;
}
#main .right-column > div>div > .interval>.timeFrom,
#main .right-column > div>div > .interval>.timeTo,
#main .right-column > div>.interval>.timeFrom,
#main .right-column > div>.interval>.timeTo {
  width: 63px;
}
#main .right-column > div>div > .audience,
#main .right-column > div>.audience {
  padding: 10px 10px 0;
}
#main .right-column > div>div > .audience .slider-range,
#main .right-column > div>.audience .slider-range {
  padding: 0 10px 10px;
  text-align: center;
  color: #999;
}
#main .right-column > div>div > .audience .slider-range>.value-max,
#main .right-column > div>div > .audience .slider-range>.value-min,
#main .right-column > div>.audience .slider-range>.value-max,
#main .right-column > div>.audience .slider-range>.value-min {
  cursor: pointer;
  text-align: center;
  padding: 2% 0;
  width: 45%;
  margin-top: -3px;
  overflow: hidden;
}
#main .right-column > div>div > .audience .slider-range>.value-max:hover,
#main .right-column > div>div > .audience .slider-range>.value-min:hover,
#main .right-column > div>.audience .slider-range>.value-max:hover,
#main .right-column > div>.audience .slider-range>.value-min:hover {
  background-color: #E1E7ED;
}
#main .right-column > div>div > .audience .slider-range>.value-max[contenteditable],
#main .right-column > div>div > .audience .slider-range>.value-min[contenteditable],
#main .right-column > div>.audience .slider-range>.value-max[contenteditable],
#main .right-column > div>.audience .slider-range>.value-min[contenteditable] {
  background: #fff;
  color: #000;
  outline: 1px solid #A2B3C6;
}
#main .right-column > div>div > .audience .slider-range>.value-min,
#main .right-column > div>.audience .slider-range>.value-min {
  float: left;
}
#main .right-column > div>div > .audience .slider-range>.value-max,
#main .right-column > div>.audience .slider-range>.value-max {
  float: right;
}
#main .left-column > .content {
  width: 900px;
}
#main .left-column > .content .list-head {
  background-color: #DEE5EB;
  color: #45688E;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
#main .left-column > .content .list-head .item,
#main .left-column > .content .list-head .column {
  cursor: pointer;
  text-align: center;
}
#main .left-column > .content .list-head .item .icon,
#main .left-column > .content .list-head .column .icon {
  opacity: 0;
  margin-right: -1.5em;
  background-position: center .5em;
}
#main .left-column > .content .list-head .item .filter.loading,
#main .left-column > .content .list-head .column .filter.loading {
  background-image: url('../../images/common/upload.gif');
  background-repeat: no-repeat;
  background-position: 95%;
}
#main .left-column > .content .list-head .item:hover .icon,
#main .left-column > .content .list-head .column:hover .icon {
  opacity: 0.5;
}
#main .left-column > .content .list-head .item.active .icon,
#main .left-column > .content .list-head .column.active .icon {
  opacity: 1;
}
#main .left-column > .content .list-head .item.reverse .icon,
#main .left-column > .content .list-head .column.reverse .icon {
  background-image: url('../../images/common/arrow-top.png');
}
#main .left-column > .content .list-head .item.contacts,
#main .left-column > .content .list-head .column.contacts {
  cursor: default;
}
#main .left-column > .content .list-head .item.publics,
#main .left-column > .content .list-head .column.publics {
  text-align: left;
  cursor: default;
}
#main .left-column > .content .list-body:empty {
  line-height: 100px;
  text-align: center;
  display: block;
  color: #808080;
}
#main .left-column > .content .list-body:empty:after {
  content: 'Ничего не найдено';
}
#main .left-column > .content .list-body .public {
  border-top: 1px solid #DEE5EB;
  font-weight: bold;
  line-height: 37px;
  padding: 6px 0;
}
#main .left-column > .content .list-body .public.not-editable {
  display: none;
}
#main .left-column > .content .list-body .public:hover {
  background-color: #edf1f5;
}
#main .left-column > .content .list-body .column {
  white-space: nowrap;
  overflow: hidden;
  vertical-align: middle;
  text-align: center;
}
#main .left-column > .content .list-body .column .cell {
  padding: 0;
}
#main .left-column > .content .list-body .column.public-info {
  text-align: left;
}
#main .left-column > .content .list-body .column.public-info a,
#main .left-column > .content .list-body .column.public-info .photo {
  vertical-align: middle;
  display: inline-block;
}
#main .left-column > .content .list-body .column.public-info a {
  line-height: 1.5em;
}
#main .left-column > .content .list-body .column.public-info .photo {
  width: 32px;
  height: 32px;
  overflow: hidden;
  margin: 3px 10px;
}
#main .left-column > .content .list-body .column.public-info .photo img {
  max-width: 100%;
}
#main .left-column > .content .list-body .column.public-actions .action {
  cursor: pointer;
  display: inline-block;
  padding: 4px;
  margin: 8px 0;
}
#main .left-column > .content .list-body .column.public-actions .action .icon.plus {
  opacity: 0.3;
}
#main .left-column > .content .list-body .column.public-actions .action.delete-public {
  display: none;
}
#main .left-column > .content .list-body .column.public-actions .action.restore-public {
  display: none;
}
#main .left-column > .content .list-body .column.public-actions .action.selected .icon,
#main .left-column > .content .list-body .column.public-actions .action.active .icon,
#main .left-column > .content .list-body .column.public-actions .action:hover .icon {
  opacity: 1;
}
#main .left-column > .content .list-body .column.public-actions .action.selected {
  background-color: #597DA3;
}
#main .left-column > .content .list-body .column.public-actions .action.selected .icon.arrow {
  background-image: url('../../images/common/select-white.png');
}
#main .left-column > .content .list-body .column.public-actions .action.selected .icon.plus {
  background-image: url('../../images/common/add-white.png');
}
#main .left-column > .content .list-body .column.public-actions .action.selected .icon.select {
  background-image: url('../../images/common/select-white.png');
}
#main .left-column > .content .list-body .column.public-actions .action.selected .icon.delete {
  background-image: url('../../images/common/delete.png');
}
#main .left-column > .content .list-body .column .stat-link-icon {
  padding: 4px;
}
#main .left-column > .content .list-body .column .stat-link-icon .icon {
  opacity: 0.5;
}
#main .left-column > .content .list-body .column .stat-link-icon:hover .icon {
  opacity: 1;
}
#main .left-column > .content .table.no-list-id .public-actions .action .icon {
  opacity: 0.3;
}
#main .left-column > .content .table.no-list-id .public-actions .action:hover .icon,
#main .left-column > .content .table.no-list-id .public-actions .action.selected .icon {
  opacity: 1;
}
.right-column .item {
  padding: 4px 39px 4px 18px;
  cursor: pointer;
  color: #2B587A;
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
}
.right-column .item:hover {
  background-color: #E1E7ED;
}
.right-column .item:hover .icon {
  opacity: 0.4;
}
.right-column .item:hover .icon:hover {
  opacity: 1;
}
.right-column .item.selected {
  background-color: #5E82A8;
  color: #fff;
  box-shadow: 0 0 1px rgba(0,0,0,0.6) inset;
}
.right-column .item.selected .edit {
  background-image: url('../../images/common/edit-white.png');
}
.right-column .item.selected .bookmark {
  background-image: url('../../images/st/star-white.png');
}
.right-column .icon {
  position: absolute;
  top: 50%;
  width: 18px;
  height: 18px;
  margin-top: -9px;
  opacity: 0;
}
.right-column .edit {
  right: 21px;
  background: url('../../images/common/edit.png') 50% 50% no-repeat;
}
.right-column .bookmark {
  right: 1px;
  background: url('../../images/st/star.png') 2px 2px no-repeat;
}
.right-column .edit-field {
  position: absolute;
  top: 0;
  left: 0;
  width: 128px;
  border: none;
  padding-right: 37px;
  padding-left: 4px;
}
.right-column .saver {
  display: inline-block;
  zoom: 1;
  *display: inline;
  position: absolute;
  bottom: 2px;
  right: 2px;
  margin-right: -40px;
  background: #f1f1f1;
  border: 1px solid #c8cfda;
  width: 32px;
  height: 15px;
  padding-top: 1px;
  border-radius: 3px;
  text-align: center;
  color: #333;
}
.right-column .title {
  color: #555;
  font-weight: bold;
  padding: 12px 10px 0;
}
.right-column .period {
  padding: 7px 7px 0;
}
.right-column .period label {
  padding: 3px;
}
.right-column .period input {
  margin-right: 5px;
}
.right-column .buttons {
  margin-top: 15px;
}
.right-column .buttons:before {
  content: '';
  height: 0;
  display: block;
  border-top: 1px solid #D8DFEA;
  margin: 0 8px 12px;
}
.right-column .ui-sortable-helper {
  cursor: move;
}
#global-loader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff url(http://st0.userapi.com/images/progress7.gif) no-repeat center;
  z-index: 999;
  text-align: center;
  line-height: 300px;
  font-size: 14px;
}
#go-to-top {
  display: none;
  position: fixed;
  line-height: 100px;
  font-weight: bold;
  width: 100px;
  height: 100%;
  top: 0;
  left: 0;
  opacity: .3;
  cursor: pointer;
  text-align: center;
  background-color: #DEE5EB;
  color: #2B587A;
  -webkit-transition: .2s opacity;
}
#go-to-top:hover {
  opacity: 1;
}
#listed-counter {
  display: none;
  position: fixed;
  padding-top: 50px;
  font-weight: bold;
  width: 100px;
  height: 10%;
  top: 0;
  right: 0;
  opacity: .3;
  cursor: pointer;
  text-align: center;
  background-color: #DEE5EB;
  color: #2B587A;
  -webkit-transition: .2s opacity;
}
#listed-counter:hover {
  opacity: 1;
}
#load-more-table {
  padding: 10px;
  text-align: center;
  cursor: pointer;
  color: #2B587A;
  border-top: 1px solid #D8DFEA;
  position: relative;
  display: none;
}
#load-more-table:hover {
  background-color: #E1E7ED;
}
#load-more-table.loading:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff url('../../images/common/upload.gif') no-repeat center;
  content: '';
}
.plus {
  color: #7EA65A;
}
.minus {
  color: #D44F30;
}
.true,
.false {
  cursor: default;
  font-size: 20px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.true {
  color: #7EA65A;
}
.false {
  color: #D44F30;
  opacity: 0.3;
}
.dropdown {
  position: absolute;
  border: 1px solid #597DA3;
  background-color: #fff;
  min-width: 150px;
  display: none;
  box-shadow: 0 2px 4px rgba(0,0,0,0.25);
  z-index: 10;
}
.dropdown .clear-search {
  position: absolute;
  top: 0;
  right: 2px;
  z-index: 11;
  cursor: pointer;
  padding: 4px;
  opacity: 0.4;
}
.dropdown .clear-search:hover {
  opacity: 1;
}
.dropdown .item,
.dropdown .show-input,
.dropdown>input {
  color: #45688E;
  padding: .4em 1.6em .4em .6em;
  cursor: pointer;
  position: relative;
  border: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 150px;
}
.dropdown>input {
  cursor: text;
  color: #383838;
}
.dropdown .add-item {
  display: none;
}
.dropdown .highlight {
  background: #ffc;
  border-radius: 2px;
  border: 1px solid #d8d8d8;
}
.dropdown .show-input {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  border-top: 1px solid #b8b8b8;
  background: #f8f8f8;
}
.dropdown .show-input:nth-child(2) {
  border: none;
}
.dropdown .item>.icon {
  opacity: 0;
  position: absolute;
  right: .4em;
  top: 50%;
  margin-top: -6px;
  width: 12px;
  height: 12px;
}
.dropdown .item:hover {
  background-color: #EDF1F5;
}
.dropdown .item:hover>.icon {
  opacity: .3;
}
.dropdown .item.selected {
  color: #fff;
  background-color: #597DA3;
  font-weight: bold;
}
.dropdown .item.selected .highlight {
  color: #777;
  font-weight: normal;
}
.dropdown .item.selected>.icon {
  opacity: 1;
  background-image: url('../../images/common/select-white.png');
}
.contact-dropdown {
  position: absolute;
  border: 1px solid #597DA3;
  border-top-color: #C4CDE0;
  background-color: #fff;
  display: none;
  box-shadow: 0 2px 4px rgba(0,0,0,0.25);
  z-index: 10;
}
.contact-dropdown>.item {
  position: relative;
  cursor: pointer;
  min-height: 38px;
}
.contact-dropdown>.item:hover {
  background-color: #EDF1F5;
}
.contact-dropdown>.item>.photo {
  position: absolute;
  top: 3px;
  left: 3px;
  bottom: 0;
  overflow: hidden;
  width: 32px;
  height: 32px;
}
.contact-dropdown>.item>.photo img {
  width: 100%;
}
.contact-dropdown>.item>.content {
  margin-left: 0px;
  line-height: 16px;
  padding: 3px 3px 3px 40px;
  position: relative;
  cursor: pointer;
  -webkit-transition: all .2s;
  overflow: hidden;
}
.contact-dropdown>.item>.content > .description {
  color: #808080;
  font-size: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 150px;
}
.header .button-wrap {
  display: inline-block;
  zoom: 1;
  *display: inline;
  float: right;
  margin-top: 7px;
}
.header .under {
  height: 5px;
  width: 100%;
  clear: both;
}
.header .actions {
  display: inline-block;
  zoom: 1;
  *display: inline;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  float: right;
  margin-right: -1px;
  margin-bottom: 5px;
}
.header .actions a {
  padding: 0 1em 0 0.9em;
  border-left: 1px solid #d8dfea;
}
.header .actions a:first-child {
  border: none;
}
.login-info {
  margin: 3px 7px 0 24px;
  display: inline-block;
  zoom: 1;
  *display: inline;
  position: relative;
  float: right;
  height: 31px;
  font-weight: bold;
  min-width: 41px;
}
.login-info .username {
  display: table;
  padding-right: 11px;
  margin-right: 50px;
  height: 31px;
}
.login-info .username span {
  display: table-cell;
  max-width: 150px;
  vertical-align: middle;
  overflow: hidden;
}
.login-info .userpic {
  height: 22px;
  padding: 3px 5px 5px 11px;
  border: none;
}
.login-info .login,
.login-info .logout {
  display: block;
  height: 30px;
  position: absolute;
  right: 5px;
  padding-left: 5px;
  line-height: 31px;
}
.tab-bar {
  display: inline-block;
  zoom: 1;
  *display: inline;
  width: 590px;
  padding-bottom: 0 !important;
}
#vk-button {
  position: absolute;
  top: 5px;
  right: 4px;
}
.box-share>.title {
  margin: 7px 0 4px;
  color: #2B587A;
  font-size: 1.18em;
  font-weight: bold;
}
.box-share input[type="text"],
.box-share textarea {
  width: 358px;
  margin-bottom: 7px;
}
