#main>.header{padding:10px;}
#main .list-head{padding:0 10px;background-color:#DEE5EB;color:#45688E;-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;-o-user-select:none;user-select:none;}#main .list-head .item{float:left;text-align:center;font-weight:bold;padding:6px 0;line-height:27px;cursor:pointer;white-space:nowrap;}#main .list-head .item .icon{opacity:0;margin-right:-1.5em;background-position:center .5em;}
#main .list-head .item .filter{padding:5px;width:200px;margin-left:10px;}#main .list-head .item .filter.loading{background-image:url('../../images/common/upload.gif');background-repeat:no-repeat;background-position:95%;}
#main .list-head .item:hover .icon{opacity:.5;}
#main .list-head .item.active .icon{opacity:1;}
#main .list-head .item.reverse .icon{background-image:url('../../images/common/arrow-top.png');}
#main .list-head .item.contacts{cursor:default;}
#main .list-head .item.publics{text-align:left;cursor:default;}
#main #results{padding:0 10px;}#main #results .row+.row{border-top:1px solid #dae1e8;}
#main #results .row{padding:10px 0;}#main #results .row>div{display:inline-block;vertical-align:middle;}
#main #results .column.public>div{display:inline-block;vertical-align:middle;}
#main #results .column.public .photo{width:40px;height:40px;margin-right:10px;overflow:hidden;}#main #results .column.public .photo img{max-width:100%;}
#main #results .column.public .name{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;max-width:160px;}
#main .item.our-public,#main .item.partner,#main .column.public{width:250px;}
#main .item.post-time,#main .item.delete-time,#main .item.visitors,#main .item.subscribers,#main .column.time,#main .column.visitors,#main .column.subscribers{width:110px;text-align:center;}
