html, body, input, textarea {
    margin: 0;
    font-family: arial, verdana, Lucida Sans, serif;
    font-size: 12px;
}
html, body {
    padding: 0;
}
input:focus,
textarea:focus,
[contenteditable]:focus {
    outline: none;
    border-color: #97A4C4 !important;
}

table, tr, td, th {
    margin: 0;
    padding: 0;
    border-spacing: 0;
    text-align: left;
}
a {
    color: #2B587A;
    text-decoration: none;
}
a:focus,
a:hover {
    text-decoration: underline;
}

input[type="text"], textarea {
    border: 1px solid #C4CDE0;
}
input[type="checkbox"] {}
input[type="checkbox"]:after {
    content: '';
    background: url('../../images/common/check.gif') 0 0 no-repeat;
    width: 14px;
    height: 14px;
    position: absolute;
}
input[type="checkbox"]:hover:after {
    background-position: 0 -28px;
}
input[type="checkbox"]:checked:hover:after {
    background-position: 0 -42px;
}
input[type="checkbox"]:checked:after {
    background-position: 0 -14px;
}
