.background-gradient(@top-color: #fff, @bottom-color: #eee) {
    background-color: @top-color;
    background-image: -webkit-linear-gradient(top,@top-color,@bottom-color);
    background-image: -moz-linear-gradient(top,@top-color,@bottom-color);
    background-image: -ms-linear-gradient(top,@top-color,@bottom-color);
    background-image: -o-linear-gradient(top,@top-color,@bottom-color);
    background-image: linear-gradient(top,@top-color,@bottom-color);
}

html, body, input, textarea {
    margin: 0;
    font-family: arial, verdana, Lucida Sans, serif;
    font-size: 12px;
    background-color: #fff;
}

html, body {
    padding: 0;
}

textarea {
    padding: 5px;
}

input, textarea {
    border: 1px solid #C0CAD5;
    background-color: #fff;
}

input:focus,
textarea:focus,
[contenteditable]:focus {
    outline: none;
    border-color: #97A4C4 !important;
}

table, tr, td, th {
    margin: 0;
    padding: 0;
    border-spacing: 0;
    text-align: left;
}
a {
    color: #2B587A;
    text-decoration: none;

    &:focus, &:hover {
        outline: none;
        text-decoration: underline;
    }
}

input {
    &[type="text"], textarea {
        border: 1px solid #C4CDE0;
    }
    &[type="checkbox"]:after {
        content: '';
        background: url('../../images/common/check.gif') 0 0 no-repeat;
        width: 14px;
        height: 14px;
        position: absolute;
    }
    &[type="checkbox"]:hover:after {
        background-position: 0 -28px;
    }
    &[type="checkbox"]:checked:hover:after {
        background-position: 0 -42px;
    }
    &[type="checkbox"]:checked:after {
        background-position: 0 -14px;
    }
}

/* --- */

.button {
    position: relative;
    border-radius: 2px;
    display: inline-block;
    border: 1px solid #4E6F93;
    border-top-color: #517295;
    color: #fff;
    margin: 0;
    padding: 4px 14px;
    cursor: pointer;
    outline: none;
    font-size: 11px;
    box-shadow: 0 1px 1px rgba(255,255,255,.2) inset;
    text-shadow: 0 1px 0 #45688E;
    font-family: tahoma, verdana, arial, Lucida Sans, serif;
    white-space: nowrap;

    .background-gradient(#6A8DB2, #50769E);

    &:focus,
    &:hover {
        color: #fff;
        text-decoration: none;

        .background-gradient(#789ABF, #5980A9);
    }
    &.load,
    &:active {
        border: 1px solid #5E80A5;
        box-shadow: none;
        background: #5E80A5;
    }
}

.clear-fix {
    display: block;
    &:after {
        content: '.';
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
    }
}

.tab-bar {
    padding: .7em;
    padding-top: 0;

    &>.tab {
        margin-top: .7em;
        margin-right: .4em;
        color: #45688E;
        font-weight: bold;
        border-radius: .3em;
        padding: .4em .6em;
        cursor: pointer;
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: 150px;

        &:focus,
        &:hover {
            background-color: #E1E7ED;
        }
        &:last-child {
            margin-right: 0;
        }
        &.selected {
            background-color: #597DA3;
            color: #fff;
        }
    }
}

.icon {
    width: 1em;
    height: 1em;
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-transition: .2s opacity;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;

    &.plus {
        background-image: url('../../images/st/add.png');
    }
    &.select {
        background-image: url('../../images/st/select.png');
    }
    &.arrow {
        background-image: url('../../images/st/arrow.png');
    }
    &.arrow-top {
        background-image: url('../../images/st/arrow-top.png');
    }
}
