@link_color: #2B587A;
@light_blue: #99ADC2;
@hover_bg: #E1E7ED;

.user-select(@select: text) {
    -webkit-touch-callout: @select;
    -webkit-user-select: @select;
    -khtml-user-select: @select;
    -moz-user-select: @select;
    -ms-user-select: @select;
    -o-user-select: @select;
    user-select: @select;
}
.transition(@params) {
    -webkit-transition: @params;
    -moz-transition: @params;
    -o-transition: @params;
    transition: @params;
}
.background-gradient(@top-color: #fff, @bottom-color: #eee) {
    background-color: @top-color;
    background-image: -webkit-linear-gradient(top,@top-color,@bottom-color);
    background-image: -moz-linear-gradient(top,@top-color,@bottom-color);
    background-image: -ms-linear-gradient(top,@top-color,@bottom-color);
    background-image: -o-linear-gradient(top,@top-color,@bottom-color);
    background-image: linear-gradient(top,@top-color,@bottom-color);
}
.border-radius(@params) {
    -webkit-border-radius: @params;
    -moz-border-radius: @params;
    border-radius: @params;
}
.opacity(@opacity) {
    -ms-filter: ~`"progid:DXImageTransform.Microsoft.Alpha(opacity=(" + "@{opacity}" * 100 + "))"`;
    filter: ~`"alpha(opacity = (" + "@{opacity}" * 100 + "))"`;
    opacity: @opacity;
}


html, body, input, textarea {
    margin: 0;
    font-family: arial, verdana, Lucida Sans, serif;
    font-size: 12px;
}

html, body {
    padding: 0;
}

textarea {
    resize: none;
}
input[type="text"],
textarea {
    padding: 4px;
    border: 1px solid #C4CDE0;
    background-color: #fff;
}

input:focus,
textarea:focus,
[contenteditable]:focus {
    outline: none;
    /*border-color: #97A4C4 !important;*/
}

table, tr, td, th {
    margin: 0;
    padding: 0;
    border-spacing: 0;
    text-align: left;
}
a {
    color: #2B587A;
    text-decoration: none;

    &:focus, &:hover {
        outline: none;
        text-decoration: underline;
    }
}

input {
    &[type="checkbox"]:after {
        content: '';
        background: url('../../images/common/check.gif') 0 0 no-repeat;
        width: 14px;
        height: 14px;
        position: absolute;
    }
    &[type="checkbox"]:hover:after {
        background-position: 0 -28px;
    }
    &[type="checkbox"]:checked:hover:after {
        background-position: 0 -42px;
    }
    &[type="checkbox"]:checked:after {
        background-position: 0 -14px;
    }
}

/* --- */

.ui-dropdown-menu {
    position: absolute;
    background-color: #fff;
    max-height: 300px;
    border: 1px solid #C4CDE0;
    margin-top: -1px;
    z-index: 99;
    overflow-y: auto;

    .ui-dropdown-menu-empty {
        color: #777;
        padding: .5em 1em;
        background-color: #f7f7f7;
    }
    .ui-dropdown-menu-item {
        padding: .5em 1em;
        cursor: pointer;
        color: @link_color;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        line-height: 150%;

        &.hover {
            background-color: @hover_bg;
        }
        &.active {
            color: #fff;
            background-color: #587DA1;
        }

        &.icon-left {
            padding-left: 2.5em;
        }
        &.icon-right {
            padding-right: 2.5em;
        }

        &>.icon {
            position: absolute;
            overflow: hidden;
            width: 1.5em;
            height: 1.5em;
            img {
                max-width: 100%;
            }
            &.icon-left {
                left: .5em;
            }
            &.icon-left {
                right: .5em;
            }
        }
    }
}

.ui-tags {
    position: relative;

    .tag {
        background-color: @hover_bg;
        display: inline-block;
        padding: 2px 4px;
        margin-top: 3px;
        margin-left: 3px;
        position: relative;
        font-size: .9em;
        vertical-align: top;

        &>.text {
            display: inline-block;
            vertical-align: middle;
        }
        &>.delete {
            display: inline-block;
            vertical-align: middle;
            width: 1em;
            height: 1em;
            cursor: pointer;
            background: url('http://st0.userapi.com/images/blob_x.gif') center no-repeat;
        }
    }
}

.button {
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 5px 14px;
    cursor: pointer;
    outline: none;
    font-size: 11px;
    white-space: nowrap;
    font-family: tahoma, verdana, arial, Lucida Sans, serif;
    color: #fff;
    border: 1px solid #4E6F93;
    border-top-color: #517295;
    box-shadow: 0 1px 1px rgba(255,255,255,.2) inset;
    text-shadow: 0 1px 0 #45688E;

    .border-radius(2px);
    .background-gradient(#6A8DB2, #50769E);

    &:focus,
    &:hover {
        text-decoration: none;

        .background-gradient(#789ABF, #5980A9);
    }
    &.load,
    &:active {
        box-shadow: none;
        background: #5E80A5;
    }

    &.white {
        color: #444;
        border: 1px solid #B3B3B3;
        box-shadow: 0 1px 1px rgba(255,255,255,1) inset;
        text-shadow: 0 1px 0 #fff;

        .background-gradient(#fafafa, #d4d4d4);

        &:focus,
        &:hover {
            text-decoration: none;

            .background-gradient(#fff, #e5e5e5);
        }

        &.load,
        &:active {
            box-shadow: none;
            background: #dcdcdc;
        }
    }
}

.clear-fix {
    display: block;
    &:after {
        content: '.';
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
    }
}

.tab-bar {
    padding: .7em;
    padding-top: 0;

    &>.tab {
        margin-top: .7em;
        margin-right: .4em;
        color: #45688E;
        font-weight: bold;
        padding: .3em .6em;
        cursor: pointer;
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: 150px;

        .border-radius(0.3em);

        &>.counter {
            font-weight: bold;
            padding: .3em .6em;
            background: #D5DDE5;
            margin-right: -.6em;

            .border-radius(2px);

            &:empty {
                display: none;
            }
        }

        &:focus,
        &:hover {
            background-color: #E1E7ED;
        }
        &:last-child {
            margin-right: 0;
        }
        &.selected {
            background-color: #597DA3;
            color: #fff;

            &>.counter {
                background: none;
                color: #fff;
            }
        }
    }
}

.icon {
    width: 1em;
    height: 1em;
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;

    .user-select(none);
    .transition(.2s opacity);

    &.plus {
        background-image: url('../../images/st/add.png');
    }
    &.select {
        background-image: url('../../images/st/select.png');
    }
    &.arrow {
        background-image: url('../../images/st/arrow.png');
    }
    &.arrow-top {
        background-image: url('../../images/st/arrow-top.png');
    }
    &.hart {
        background-image: url('../../images/common/like.gif');
    }
    &.delete {
        background-image: url('../../images/common/statusx_op.gif');
    }
}

.placeholder {
    position: absolute;
    color: #999;

    .user-select(none);
}

/* --------- */
/* jQuery UI */
/* --------- */

/* Corner radius */
.ui-corner-all,
.ui-corner-top,
.ui-corner-left,
.ui-corner-tl {
    -moz-border-radius-topleft: 0;
    -webkit-border-top-left-radius: 0;
    -khtml-border-top-left-radius: 0;
    border-top-left-radius: 0;
}
.ui-corner-all,
.ui-corner-top,
.ui-corner-right,
.ui-corner-tr {
    -moz-border-radius-topright: 0;
    -webkit-border-top-right-radius: 0;
    -khtml-border-top-right-radius: 0;
    border-top-right-radius: 0;
}
.ui-corner-all,
.ui-corner-bottom,
.ui-corner-left,
.ui-corner-bl {
    -moz-border-radius-bottomleft: 0;
    -webkit-border-bottom-left-radius: 0;
    -khtml-border-bottom-left-radius: 0;
    border-bottom-left-radius: 0;
}
.ui-corner-all,
.ui-corner-bottom,
.ui-corner-right,
.ui-corner-br {
    -moz-border-radius-bottomright: 0;
    -webkit-border-bottom-right-radius: 0;
    -khtml-border-bottom-right-radius: 0;
    border-bottom-right-radius: 0;
}

/* Component containers */
.ui-widget {
    font-size: 1.1em;
}
.ui-widget .ui-widget {
    font-size: 1em;
}
.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button {
    font-size: 1em;
}
.ui-widget-content {
    border: 1px solid #aaaaaa;
    background: #ffffff;
}
.ui-widget-content a {}
.ui-widget-header {
    border: 1px solid #aaaaaa;
    background: #cccccc;
    font-weight: bold;
}
.ui-widget-header a {
    color: #222222;
}

/* Interaction states */
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
    border: 1px solid #d3d3d3;
    background: #fff;
}
.ui-state-default a,
.ui-state-default a:link,
.ui-state-default a:visited {}
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {}
.ui-state-hover a,
.ui-state-hover a:hover {
    text-decoration: none;
}
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {}
.ui-state-active a,
.ui-state-active a:link,
.ui-state-active a:visited {
    text-decoration: none;
}
.ui-widget:active {
    outline: none;
}

/* Slider */
.ui-slider {
    position: relative;
}
.ui-slider-horizontal {
    height: 8px;
    border-radius: 2px;
    background: #D0D9E3;
    border: 1px solid #A2B3C6;
}
.ui-slider-range {
    position: absolute;
    background: #A2B3C6;
    border: 1px solid #8ea0b7;
    z-index: 1;
    display: block;
    top: -1px;
    height: 100%;
}
.ui-slider-handle {
    text-decoration: none !important;
    border: 0.1em solid #A2B3C6 !important;
    position: absolute;
    z-index: 2;
    background: #fff;
    border-radius: 2px;
    font-weight: bold;
    font-size: 10px;
    color: #45688E;
    text-align: center;
    width: 2em;
    height: 2em;
    line-height: 2em;
    margin-top: -0.7em;
    margin-left: -1.1em;

    &:empty {
        width: 1em;
        margin-left: -.6em;
    }
}

/* Box */
.box-layout {
    z-index: 99;
    display: none;
    background: #333;
    background: rgba(0,0,0,.2);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;

    .box-wrap {
        background: #fff;
        box-shadow: 0 2px 10px rgba(0,0,0,.3);
        margin: 80px auto;
        width: 400px;
        overflow: hidden;

        &>.title {
            padding: 8px 10px 8px 10px;
            background: #597DA3;
            color: #fff;
            border: 1px solid #43658A;
            box-shadow: 0 1px 0 #648CB7 inset;
            font-size: 1.18em;
            font-weight: bold;

            &>.close {
                float: right;
                width: 18px;
                height: 18px;
                background: url('../../images/st/delete-white.png') center no-repeat;
                opacity: .5;
                cursor: pointer;

                -webkit-transition: .2s opacity;

                &:hover {
                    opacity: 1;
                }
            }
        }

        &>.body {
            border-left: 1px solid #999;
            border-right: 1px solid #999;
            padding: 14px;

            &>.box-loading {
                min-height: 200px;
                background: #fff url(http://st0.userapi.com/images/progress7.gif) no-repeat center;
            }
        }

        &>.actions-wrap {
            border: 1px solid #999;
            border-top: 0;

            &>.actions {
                padding: 10px;
                text-align: right;
                border-top: 1px solid #DAE1E8;
                background-color: #F2F2F2;

                .action {
                    margin-right: 10px;
                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
        }
    }
}