.newpost.collapsed .uploadify {display: none;}
.newpost.collapsed .uploadifyQueue {display: none;}

.ui-state-default {
    background: #fff;
    border-radius: 0;
    border-color: #D8DFEA;
}

.ui-state-hover {
    border-color: #97A4C4;
}

.ui-state-highlight {
    -webkit-box-shadow: inset 0 0 1px 1px #c8b71e;
    -moz-box-shadow: inset 0 0 1px 1px #c8b71e;
    box-shadow: inset 0 0 1px 1px #c8b71e;
}

.ui-slider-horizontal {
    height: 8px;
    border-radius: 2px;
    background: #D0D9E3;
    border-color: #C4CDE0;
}
.ui-slider-range {
    background: #A2B3C6;
    border-color: #97A4C4;
}
.ui-slider-handle {
    border-radius: 2px;
    border-color: #C4CDE0 !important;
    background: #fff !important;
    font-weight: bold !important;
    font-size: 10px !important;
    color: #45688E !important;
    text-decoration: none !important;
    text-align: center;
    outline: none;
}
.ui-slider-horizontal .ui-slider-handle {
    top: -7px;
    margin-left: -13px;
    width: 26px !important;
    height: 20px !important;
    line-height: 20px;
}

.link-info-content .link-description-content { overflow: hidden; margin-top: 5px; padding: 10px; background: #fff; border-left: #CCCCCC solid 3px; }
.link-info-content .link-description-content img { float: left; margin-right: 10px; }
.link-info-content .link-description-content a { float: none; margin: 0; display: block;}
.link-info-content .link-description-content p { float: left; }
.link-info-content .link-description-content a + p { margin-top: 5px; }
.link-info-content .link-description-content img ~ a,
.link-info-content .link-description-content img ~ p { width: 450px; }
.link-info-content .link-status-content { margin: 10px 0 0 0; }
.link-info-content .link-status-content span { position: relative; }
.link-info-content .link-description-text { position: relative; width: 70%; }
/*.link-info-content .link-description-text > a:first-child { font-weight: bold; }*/
.link-info-content img.ajax-loader {
    margin: 0 auto;
    display: block;
    float: none;
}
.link-info-content .link-img {
    width: 28%;
    margin-right: 2%;
    height: 63px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    border-radius: 3px;
}

.failed {
    background: #FFC0C0 !important;
    opacity: 1;
}

div.type-selector {
    margin-bottom: 8px;
}

div.type-selector a {
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    display: -moz-inline-box;
    display: inline-block;
    margin-right: 5px;
    padding: 0 8px;
    text-decoration: none;
    line-height: 1.8em;
    font-weight: bold;
}

div.type-selector a.active,
div.type-selector a.active:hover {
    color: #fff;
    background-color: #45688E;
    text-shadow: 0 1px 1px #4992C9;
}

div.type-selector a:hover {
    background-color: #DEE5EB;
}