.inline-block {
  display: inline-block;
  zoom: 1;
  *display: inline;
}
html {
  overflow-y: scroll;
}
#main .list-add-monitor {
  padding: 0 10px 10px;
}
#main .list-add-monitor .form input + input {
  margin-left: 10px;
}
#main .list-add-monitor .form .button {
  margin-left: 10px;
}
#main .left-column > .content .list-head {
  padding: 0 10px;
  background-color: #DEE5EB;
  color: #45688E;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
#main .left-column > .content .list-head .item .icon {
  opacity: 0;
  margin-right: -1.5em;
  background-position: center .5em;
}
#main .left-column > .content .list-head .item .filter {
  padding: 5px;
  width: 200px;
  margin-left: 10px;
}
#main .left-column > .content .list-head .item .filter.loading {
  background-image: url('../../images/common/upload.gif');
  background-repeat: no-repeat;
  background-position: 95%;
}
#main .left-column > .content .list-head .item:hover .icon {
  opacity: .5;
}
#main .left-column > .content .list-head .item.active .icon {
  opacity: 1;
}
#main .left-column > .content .list-head .item.reverse .icon {
  background-image: url('../../images/common/arrow-top.png');
}
#main .left-column > .content .list-head .item.contacts {
  cursor: default;
}
#main .left-column > .content .list-head .item.publics {
  text-align: left;
  cursor: default;
}
#main .left-column > .content #results {
  padding: 0 10px;
}
#main .left-column > .content #results .row + .row {
  border-top: 1px solid #DAE1E8;
}
#main .left-column > .content #results .row {
  padding: 10px 0;
}
#main .left-column > .content #results .row> div {
  display: inline-block;
  vertical-align: middle;
}
#main .left-column > .content #results .column.public> div {
  display: inline-block;
  vertical-align: middle;
}
#main .left-column > .content #results .column.public .photo {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  overflow: hidden;
}
#main .left-column > .content #results .column.public .photo img {
  max-width: 100%;
}
#main .left-column > .content #results .column.public .name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 160px;
}
#main .left-column > .content #results .empty-result {
  padding: 100px;
  text-align: center;
  color: #666;
}
#main .left-column > .content .list-head .item,
#main .left-column > .content .list-head .column,
#main .left-column > .content #results .item,
#main .left-column > .content #results .column {
  text-align: center;
  width: 90px;
}
#main .left-column > .content .list-head .item.public,
#main .left-column > .content .list-head .column.public,
#main .left-column > .content #results .item.public,
#main .left-column > .content #results .column.public {
  text-align: left;
  width: 210px;
}
#main .left-column > .content .list-head .item.action,
#main .left-column > .content .list-head .column.action,
#main .left-column > .content #results .item.action,
#main .left-column > .content #results .column.action {
  width: 30px;
}
#main .left-column > .content .list-head .column.action .icon,
#main .left-column > .content #results .column.action .icon {
  cursor: pointer;
  opacity: 0.5;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
#main .left-column > .content .list-head .column.action .icon:hover,
#main .left-column > .content #results .column.action .icon:hover {
  opacity: 1;
}
#main .left-column > .content .list-head .item,
#main .left-column > .content #results .item {
  float: left;
  text-align: center;
  font-weight: bold;
  padding: 6px 0;
  line-height: 27px;
  white-space: nowrap;
  cursor: default !important;
}
#main .left-column > .content .list-head .item .icon,
#main .left-column > .content #results .item .icon {
  display: none !important;
}
#main .right-column> div {
  padding-bottom: 0;
}
#main .right-column> #filter>.form {
  padding: 7px 7px 0;
}
#main .right-column> #filter>.form label {
  padding: 3px;
}
#main .right-column> #filter>.form input {
  margin-right: 5px;
}
#main .right-column> .filter>.list {
  border-top: none;
  padding-top: 0;
  margin: 10px;
}
#main .right-column> .filter>.list .item + input {
  margin-top: 10px;
}
#main .right-column> .filter>.list input {
  display: none;
  width: 138px;
}
#load-more-table {
  display: block;
}
