*/3     *       *       *       *       sudo -u www /usr/bin/php /home/sps/www/current/invoke.php socialboard.ru /int/daemons/sync-sources/ > /dev/null
#*/3     *       *       *       *       sudo -u www /usr/bin/php /home/sps/www/current/invoke.php socialboard.ru /int/daemons/sync-sources/ > /dev/null
#*/3     *       *       *       *       sudo -u www /usr/bin/php /home/sps/www/current/invoke.php socialboard.ru /int/daemons/sync-sources/ > /dev/null
#*/2     *       *       *       *       sudo -u www /usr/bin/php /home/sps/www/current/invoke.php socialboard.ru /int/daemons/sync-sources/ > /dev/null
#*/2     *       *       *       *       sudo -u www /usr/bin/php /home/sps/www/current/invoke.php socialboard.ru /int/daemons/sync-sources/ > /dev/null
#*/2     *       *       *       *       sudo -u www /usr/bin/php /home/sps/www/current/invoke.php socialboard.ru /int/daemons/sync-sources/ > /dev/null
#*/1     *       *       *       *       sudo -u www /usr/bin/php /home/sps/www/current/invoke.php socialboard.ru /int/daemons/sync-sources/ > /dev/null

0-59/2     *       *       *       *      sudo -u www /usr/bin/php /home/sps/www/current/invoke.php socialboard.ru /int/daemons/process-queue/ > /dev/null
0-59/2     *       *       *       *      sudo -u www /usr/bin/php /home/sps/www/current/invoke.php socialboard.ru /int/daemons/process-queue/ > /dev/null
0-59/2     *       *       *       *      sudo -u www /usr/bin/php /home/sps/www/current/invoke.php socialboard.ru /int/daemons/process-queue/ > /dev/null
0-59/2     *       *       *       *      sudo -u www /usr/bin/php /home/sps/www/current/invoke.php socialboard.ru /int/daemons/process-queue/ > /dev/null
0-59/2     *       *       *       *      sudo -u www /usr/bin/php /home/sps/www/current/invoke.php socialboard.ru /int/daemons/process-queue/ > /dev/null
0-59/2     *       *       *       *      sudo -u www /usr/bin/php /home/sps/www/current/invoke.php socialboard.ru /int/daemons/process-queue/ > /dev/null
0-59/2     *       *       *       *      sudo -u www /usr/bin/php /home/sps/www/current/invoke.php socialboard.ru /int/daemons/process-queue/ > /dev/null
0-59/2     *       *       *       *      sudo -u www /usr/bin/php /home/sps/www/current/invoke.php socialboard.ru /int/daemons/process-queue/ > /dev/null
0-59/2     *       *       *       *      sudo -u www /usr/bin/php /home/sps/www/current/invoke.php socialboard.ru /int/daemons/process-queue/ > /dev/null
0-59/2     *       *       *       *      sudo -u www /usr/bin/php /home/sps/www/current/invoke.php socialboard.ru /int/daemons/process-queue/ > /dev/null
0-59/2     *       *       *       *      sudo -u www /usr/bin/php /home/sps/www/current/invoke.php socialboard.ru /int/daemons/process-queue/ > /dev/null
0-59/2     *       *       *       *      sudo -u www /usr/bin/php /home/sps/www/current/invoke.php socialboard.ru /int/daemons/process-queue/ > /dev/null

1-59/2     *       *       *       *      sudo -u www /usr/bin/php /home/sps/www/current/invoke.php socialboard.ru /int/daemons/process-queue/ > /dev/null
1-59/2     *       *       *       *      sudo -u www /usr/bin/php /home/sps/www/current/invoke.php socialboard.ru /int/daemons/process-queue/ > /dev/null
1-59/2     *       *       *       *      sudo -u www /usr/bin/php /home/sps/www/current/invoke.php socialboard.ru /int/daemons/process-queue/ > /dev/null
1-59/2     *       *       *       *      sudo -u www /usr/bin/php /home/sps/www/current/invoke.php socialboard.ru /int/daemons/process-queue/ > /dev/null
1-59/2     *       *       *       *      sudo -u www /usr/bin/php /home/sps/www/current/invoke.php socialboard.ru /int/daemons/process-queue/ > /dev/null
1-59/2     *       *       *       *      sudo -u www /usr/bin/php /home/sps/www/current/invoke.php socialboard.ru /int/daemons/process-queue/ > /dev/null
1-59/2     *       *       *       *      sudo -u www /usr/bin/php /home/sps/www/current/invoke.php socialboard.ru /int/daemons/process-queue/ > /dev/null
1-59/2     *       *       *       *      sudo -u www /usr/bin/php /home/sps/www/current/invoke.php socialboard.ru /int/daemons/process-queue/ > /dev/null
1-59/2     *       *       *       *      sudo -u www /usr/bin/php /home/sps/www/current/invoke.php socialboard.ru /int/daemons/process-queue/ > /dev/null
1-59/2     *       *       *       *      sudo -u www /usr/bin/php /home/sps/www/current/invoke.php socialboard.ru /int/daemons/process-queue/ > /dev/null
1-59/2     *       *       *       *      sudo -u www /usr/bin/php /home/sps/www/current/invoke.php socialboard.ru /int/daemons/process-queue/ > /dev/null
1-59/2     *       *       *       *      sudo -u www /usr/bin/php /home/sps/www/current/invoke.php socialboard.ru /int/daemons/process-queue/ > /dev/null


0     1       *       *       *      sudo -u www /usr/bin/php /home/sps/www/current/invoke.php socialboard.ru /int/daemons/sync-top/ > /dev/null
0     2       *       *       *      sudo -u www /usr/bin/php /home/sps/www/current/invoke.php socialboard.ru /int/daemons/sync-top/ > /dev/null
0     3       *       *       *      sudo -u www /usr/bin/php /home/sps/www/current/invoke.php socialboard.ru /int/daemons/sync-top/ > /dev/null

59     23       *       *       *      sudo -u www /usr/bin/php /home/sps/www/current/invoke.php socialboard.ru /int/daemons/SyncLikes/ > /dev/null
#*/5    *       *       *       *      sudo -u www /usr/bin/php /home/sps/www/current/invoke.php socialboard.ru /int/daemons/SyncLikes/?all > /dev/null

5     4-20   *       *       *      sudo -u www /usr/bin/php /home/sps/www/current/invoke.php socialboard.ru /int/daemons/wr-topics/ > /dev/null
*/20  *      *       *       *      sudo -u www /usr/bin/php /home/sps/www/current/invoke.php socialboard.ru /int/daemons/MesCheckUpdates/ > /dev/null
0     */6    *       *       *      sudo -u www /usr/bin/php /home/sps/www/current/invoke.php socialboard.ru /int/daemons/WrAlarm/ > /dev/null

*/5     *       *       *       *       sudo -u www /usr/bin/php /home/sps/www/current/invoke.php socialboard.ru /int/daemons/delete-photo/ > /dev/null
*/3     *       *       *       *       sudo -u www /usr/bin/php /home/sps/www/current/invoke.php socialboard.ru /int/daemons/sync-albums/ > /dev/null
*/3     *       *       *       *       sudo -u www /usr/bin/php /home/sps/www/current/invoke.php socialboard.ru /int/daemons/delete-post/ > /dev/null
*/3     *       *       *       *       sudo -u www /usr/bin/php /home/sps/www/current/invoke.php socialboard.ru /int/daemons/CheckPosts/ > /dev/null
*/3     *       *       *       *       sudo -u www /usr/bin/php /home/sps/www/current/invoke.php socialboard.ru /int/daemons/CheckWalls/ > /dev/null
*/5    6-23     *       *       *       sudo -u www /usr/bin/php /home/sps/www/current/invoke.php socialboard.ru /int/daemons/PublicsParser/ > /dev/null

0       *       *       *       *       sudo -u www /usr/bin/php /home/sps/www/current/invoke.php socialboard.ru /int/daemons/token-checker/ > /dev/null

#0     6       *       *       *       /home/sps/update-test-db.sh > /tmp/update-test-db.result 2>&1
0      6      *       *       *         sudo -u www /usr/bin/php /home/sps/www/current/invoke.php socialboard.ru /int/daemons/PublicsGrowFixer/ > /dev/null

#*/10     *       *       *       *         sudo -u www /usr/bin/php /home/sps/www/current/invoke.php socialboard.ru /int/daemons/clear-posts/ > /dev/null

0     *       *       *       *      /home/sps/bin/rnginx
