@import "../common/mixins.less";

html {
    background-color: #f1f1f1;
}

span {
    vertical-align: middle;
    .inline-block;
}

.box-layout {
    background-color: rgba(0,0,0, 0.5);
}

.box-wrap {
    .border-radius(3px);

    & > .title {
        padding: 15px;
        border: 0;
        font-size: 22px;
        .border-radius(2px 2px 0 0);
        .box-shadow(inset 0 1px 1px rgba(255,255,255, 0.3));
        .background-gradient(#659ad5, #578dd0);
    }

    & > .body {
        border: 0;
    }

    & > .actions-wrap {
        border: 0;

        .actions {
            padding: 20px;
            text-align: center;
        }
    }
}

.box-groups {
    & > .title {
        .box-shadow(~"inset 0 1px 1px rgba(255,255,255, 0.3), 0 1px 5px rgba(0,0,0, 0.3)");
    }

    & > .body {
        overflow: auto;
        max-height: 550px;
        padding: 7px;
    }

    & > .actions-wrap {
        .box-shadow(0 -1px 5px rgba(0,0,0, 0.3));

        .actions {
            border-top: 1px solid #fff;

            .button {
                display: block;
                width: 100%;
            }
        }
    }

    .groups-empty {
        color: #777;
        text-align: center;
        padding: 100px 0;
        font-size: 16px;
    }

    .group-row + .group-row {
        border-top: 1px solid #e5edf7;
    }

    .group-row {
        padding: 7px;
        cursor: pointer;
        white-space: nowrap;
        .user-select(none);

        & > div {
            vertical-align: middle;
            .inline-block;
        }

        .image {
            width: 40px;
            height: 40px;
            text-align: center;

            img {
                max-width: 100%;
            }
        }

        .title {
            margin-left: 10px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: 16px;
            max-width: 80%;
        }

        &:hover {
            background-color: #e5edf7;
        }

        &.selected {
            background: #c3d6eb url("../../images/mobile/check-white.png") 97% center no-repeat;
        }
    }

    .textarea-wrap {
        margin-right: 20px;
    }
    .email-input {
        padding: 6px 9px;
        margin-bottom: 20px;
        font-size: 16px;
        background-color: #f7f7f7;
        border-color: #c7c7c7;
        .box-shadow(~"inset 0 1px 2px rgba(0,0,0, 0.3), 0 1px 2px rgba(255,255,255, 1)");
        .border-radius(3px);

        &:focus {
            background-color: #fff;
        }
    }
}

.block-wrapper-2,
.block-wrapper-3 {
    font-size: 0;

    & > .block {
        font-size: 12px;
        padding: 0 !important;
        margin: 0 !important;
        border: 0 !important;
        vertical-align: top;
        width: 100%;
        .inline-block;

        &.left {
            text-align: left;
        }

        &.center {
            text-align: center;
        }

        &.right {
            text-align: right;
        }
    }
}

.block-wrapper-2 {
    & > .block {
        width: 50%;
    }
}

.block-wrapper-3 {
    & > .block {
        width: 33%;
    }
}

.big-title {
    font-size: 42px;
    color: #fff;
    .text-shadow(0 1px 4px rgba(0,0,0, 0.5));
}

.big-button-description {
    color: #fff;
    text-align: center;
    font-size: 18px;
    .text-shadow(0 1px 1px rgba(0,0,0, 0.5));

    .icon-vk {
        background: center no-repeat url("../../images/mobile/vk.png");
        font-size: 0;
        width: 30px;
        height: 20px;
    }
}

.button {
    font-size: 20px;
    padding: 15px 30px;
    .border-radius(2px);

    &, &:hover, &:active {
        color: #fff;
        border: 1px solid #5d94d4;
        .background-gradient(#6ea7e6, #5f99e0);
        .box-shadow(inset 0 1px 1px rgba(255,255,255, 0.5));
        .text-shadow(none);
    }

    &:active {
        padding-top: 16px;
        padding-bottom: 14px;
        background: #5f99e0;
    }
}

.big-button {
    padding: 20px 40px;
    font-size: 24px;
    margin: 20px 0;

    &, &:hover, &:active {
        .box-shadow(~"inset 0 1px 1px rgba(255,255,255, 0.5), 0 1px 2px rgba(0,0,0, 0.3)");
        .text-shadow(0 1px 2px rgba(0,0,0, 0.3));
    }

    &:active {
        padding-top: 21px;
        padding-bottom: 19px;
    }
}

#main {
    &, * {
        font-family: helvetica, arial, tahoma, sans-serif !important;
    }
}

#logo {
    font-weight: bold;
    color: @color_link
}

#header {
    padding: 15px;
    background-color: #fff;
}

#footer {
    color: #777;
    background-color: #f1f1f1;
    padding: 20px;
}

#main-content {
    background: #9d7b76 url('../../images/mobile/main-content.jpg') center;
    height: 530px;
    
    .big-title {
        margin-top: 150px;
    }
}

#description {
    background-color: #fff;
    padding-top: 50px;
    color: #666;

    .reason {
        text-align: center;
        padding: 50px 0;
        width: 250px;
        .inline-block;

        .icon {
            width: 80px;
            height: 70px;
            margin: 20px;
            background-position: center;
            background-repeat: no-repeat;

            &.check {
                background-image: url("../../images/mobile/check.png");
            }

            &.heart {
                background-image: url("../../images/mobile/heart.png");
            }

            &.megaphone {
                background-image: url("../../images/mobile/megaphone.png");
            }
        }

        .title {
            font-size: 30px;
        }

        .description {
            line-height: 2em;
            font-size: 17px;
        }
    }
}

.inner-content {
    width: 950px;
    margin: 0 auto;
}

#mobiles {
    width: 400px;
    height: 565px;
    margin: 45px 0;
    background: url("../../images/mobile/mobiles.png") center no-repeat;
    .inline-block;
}