.inline-block {
  display: inline-block;
  zoom: 1;
  *display: inline;
}
body {
  font-family: 'Lucida Grande', sans-serif;
}
* {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4 {
  font-weight: normal;
}
.wrap {
  width: 980px;
  margin: 0 auto;
  position: relative;
}
.phone-wrap {
  position: absolute;
}
.header {
  height: 530px;
  background: url("../../images/mobile/header-bg.jpg") center top no-repeat;
  color: #fff;
}
.header h1 {
  font-size: 23px;
  position: absolute;
  top: 17px;
  left: 37px;
}
.header h2 {
  font-size: 37px;
  position: absolute;
  font-family: Tahoma, sans-serif;
  top: 164px;
  left: 37px;
}
.header h4 {
  text-transform: uppercase;
  position: absolute;
  top: 376px;
  padding-left: 41px;
  line-height: 30px;
}
.header .ready {
  left: 37px;
  background: url("../../images/mobile/icon-keys-mini.png") 10px 50% no-repeat;
}
.header .only14 {
  left: 211px;
  background: url("../../images/mobile/icon-calendar-mini.png") 10px 50% no-repeat;
}
.header .create-app {
  width: 341px;
  height: 73px;
  position: absolute;
  top: 286px;
  left: 37px;
  cursor: pointer;
  color: #fff;
  font-size: 24px;
  -webkit-text-shadow: 0 1px 0 #36669e;
  -moz-text-shadow: 0 1px 0 #36669e;
  text-shadow: 0 1px 0 #36669e;
  background-color: #6da6e6;
  background-image: -webkit-linear-gradient(top,#6da6e6,#5e98e0);
  background-image: -moz-linear-gradient(top,#6da6e6,#5e98e0);
  background-image: -ms-linear-gradient(top,#6da6e6,#5e98e0);
  background-image: -o-linear-gradient(top,#6da6e6,#5e98e0);
  background-image: linear-gradient(top,#6da6e6,#5e98e0);
  border: 1px solid;
  border-color: #69a2e5 rgba(90,144,206,0.7) #4e83c1;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 0 #99c1ee inset;
  -moz-box-shadow: 0 1px 0 #99c1ee inset;
  box-shadow: 0 1px 0 #99c1ee inset;
}
.header .phone-wrap {
  width: 406px;
  height: 611px;
  background: url("../../images/mobile/phone-header-noscreen.png") ;
  top: 37px;
  left: 539px;
}
.header .phone-wrap img {
  width: 245px;
  height: 436px;
  margin-top: 87px;
  margin-left: 31px;
}
.available-in {
  height: 120px;
  background: url("../../images/mobile/gradient-stripe-bg.png") repeat-x;
}
.available-in .appstore,
.available-in .googleplay {
  display: none;
}
.available-in .wrap {
  height: 120px;
  background: url("../../images/mobile/available-in.png") 9px 4px no-repeat;
}
.n1 h2,
.n2 h2,
.n3 h2,
.n4 h2,
.n5 h2,
.green-footer h2 {
  font-size: 41px;
  margin-bottom: 18px;
}
.n1 p,
.n2 p,
.n3 p,
.n4 p,
.n5 p,
.green-footer p {
  font-size: 17px;
  line-height: 24px;
  color: #555;
}
.n1,
.n3,
.n5 {
  background: #f2f2f2;
}
.n1 {
  height: 386px;
}
.n1 .wrap {
  padding-top: 123px;
  padding-left: 452px;
  width: 528px;
}
.n1 .phone-wrap {
  top: 55px;
  left: 128px;
  width: 259px;
  height: 333px;
  background: url("../../images/mobile/phone-front-noscreen.png") ;
}
.n1 .phone-wrap img {
  margin-top: 78px;
  margin-left: 21px;
}
.n2 {
  height: 404px;
}
.n2 .wrap {
  padding-top: 130px;
  padding-left: 70px;
  width: 910px;
}
.n2 .phone-wrap {
  width: 226px;
  height: 352px;
  top: 52px;
  left: 653px;
  background: url("../../images/mobile/phone-n2.jpg") ;
}
.n3 {
  height: 390px;
}
.n3 .wrap {
  padding-top: 132px;
  padding-left: 454px;
  width: 526px;
}
.n3 .phone-wrap {
  width: 231px;
  height: 334px;
  background: url("../../images/mobile/phone-n3.jpg") ;
  top: 56px;
  left: 136px;
}
.n4 {
  height: 379px;
}
.n4 .wrap {
  padding-top: 114px;
  padding-left: 70px;
  width: 910px;
}
.n4 .phone-wrap {
  top: 58px;
  left: 638px;
  width: 251px;
  height: 321px;
  background: url("../../images/mobile/phone-front-noscreen-2.png") ;
}
.n4 .phone-wrap img {
  margin-top: 77px;
  margin-left: 21px;
}
.n5 {
  height: 403px;
}
.n5 .wrap {
  padding-top: 89px;
  padding-left: 452px;
  width: 528px;
}
.n5 .phone-wrap {
  width: 230px;
  height: 340px;
  background: url("../../images/mobile/phone-n5.jpg") ;
  top: 63px;
  left: 135px;
}
.green-footer {
  height: 555px;
  background: #00b2b3;
}
.green-footer .wrap {
  background: url("../../images/mobile/green-bg.png") 34px 38px no-repeat;
  height: 446px;
  padding-top: 109px;
  padding-left: 58px;
  width: 922px;
}
.green-footer .wrap h2,
.green-footer .wrap p {
  color: #fff;
}
.green-footer .wrap .phone-wrap {
  top: 49px;
  left: 384px;
  width: 366px;
  height: 461px;
  background: url("../../images/mobile/phone-bottom-noscreen.png") ;
}
.green-footer .wrap .phone-wrap .iphone {
  position: absolute;
  top: 66px;
  left: 21px;
}
.green-footer .wrap .phone-wrap .android {
  position: absolute;
  top: 53px;
  left: 220px;
}
.green-footer .wrap:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -8px;
  border-left: 18px solid transparent;
  border-right: 18px solid transparent;
  border-bottom: 18px solid #fff;
}
.green-footer .options {
  list-style: none;
  color: #fff;
  font-size: 13.5px;
  position: absolute;
  left: 780px;
  top: 147px;
}
.green-footer .options h3 {
  font-size: 21px;
  margin-bottom: 7px;
}
.green-footer .options .no-full {
  margin-top: 140px;
}
.white-stripe {
  height: 80px;
}
.white-stripe .wrap {
  height: 80px;
}
.white-stripe .ad-providers {
  list-style: none;
  position: absolute;
  height: 60px;
  left: 37px;
}
.white-stripe .ad-providers li,
.white-stripe .ad-providers a {
  display: inline-block;
  zoom: 1;
  *display: inline;
  vertical-align: top;
}
.white-stripe .ad-providers .ad-wired {
  width: 42px;
  height: 56px;
  margin-top: 12px;
  background: url("../../images/mobile/logo-ad-wired.png") ;
}
.white-stripe .ad-providers .admob {
  width: 82px;
  height: 42px;
  margin-left: 17px;
  margin-top: 19px;
  background: url("../../images/mobile/logo-admob.png") ;
}
.white-stripe .ad-providers .mopub {
  width: 95px;
  height: 32px;
  margin-left: 11px;
  margin-top: 20px;
  background: url("../../images/mobile/logo-mopub.png") ;
}
.white-stripe .ad-providers .inneractive {
  width: 77px;
  height: 47px;
  margin-left: 3px;
  margin-top: 14px;
  background: url("../../images/mobile/logo-inneractive.png") ;
}
.white-stripe .pitch {
  position: absolute;
  margin-left: 50%;
}
.white-stripe .pitch p {
  position: relative;
  top: 22px;
  margin-left: -37.5%;
  color: #676767;
  line-height: 15px;
}
.white-stripe .available-in-bottom {
  position: absolute;
  left: 703px;
  top: 17px;
  list-style: none;
}
.white-stripe .available-in-bottom li {
  display: inline-block;
  zoom: 1;
  *display: inline;
  height: 40px;
  overflow: hidden;
  text-indent: -9999px;
}
.white-stripe .available-in-bottom .appstore {
  width: 123px;
  background: url("../../images/mobile/available-appstore.png") ;
}
.white-stripe .available-in-bottom .googleplay {
  width: 124px;
  background: url("../../images/mobile/available-googleplay.png") ;
  margin-left: 17px;
}
.footer-gray {
  height: 399px;
  background: #f2f2f2;
}
.footer-gray .advantages {
  list-style: none;
  height: 136px;
  width: 903px;
  margin-left: 50px;
  border-bottom: 1px solid #e1e1e1;
  color: #676767;
  font-size: 13px;
  line-height: 17px;
  overflow: hidden;
}
.footer-gray .advantages li {
  display: inline-block;
  zoom: 1;
  *display: inline;
  width: 185px;
  height: 70px;
  margin-top: 46px;
  padding-top: 15px;
}
.footer-gray .advantages .dont-waste {
  background: url("../../images/mobile/icon-wallet.png") no-repeat 0 10px;
  margin-left: 4px;
  padding-left: 81px;
}
.footer-gray .advantages .dont-wait {
  background: url("../../images/mobile/icon-calendar.png") no-repeat 0 3px;
  margin-left: 49px;
  padding-left: 67px;
}
.footer-gray .advantages .dont-miss {
  background: url("../../images/mobile/icon-keys.png") no-repeat;
  margin-left: 65px;
  padding-left: 69px;
}
.footer-gray .button-wrap {
  width: 903px;
  margin-left: 50px;
  border-top: 1px solid #fff;
  height: 250px;
  position: relative;
  color: #676767;
}
.footer-gray .button-wrap p {
  text-align: center;
  position: relative;
  top: 143px;
  font-size: 13px;
  line-height: 17px;
}
.footer-gray .create-app {
  border: none;
  width: 257px;
  height: 61px;
  background: #4f83c5;
  color: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  top: 51px;
  left: 316px;
  padding-bottom: 4px;
}
